<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="top_nav" th:fragment="header">
		<div class="nav_menu">
			<nav>
				<div class="nav toggle">
					<a id="menu_toggle"><i class="fa fa-bars"></i></a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="">
						<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
							<img th:src="@{/images/user.png}" alt="">
							<span th:text="${session.user.name}"></span> 
							<span class=" fa fa-angle-down"></span>
						</a>
						<ul class="dropdown-menu dropdown-usermenu pull-right">
							<li><a th:href="@{/user/profile}" th:text="#{text.profile}"></a></li>
							<li><a th:href="@{/logout}"><i class="fa fa-sign-out pull-right"></i><span th:text="#{text.logout}">></span></a></li>
						</ul>
					</li>
				  	<!-- <li role="presentation" class="dropdown"> -->
				  	<li role="presentation" class="dropdown" style="display: none;">
                  	  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
	                    <span id="ct"></span>
	                  </a>
	                	</li>
				</ul>
			</nav>
		</div>
		
		
	</div>
</body>
</html>
