<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="col-md-3 left_col" th:fragment="menu">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a href="home.html" class="site_title"><i class="fa fa-cube"></i> <span>Godung Online</span></a>
			</div>
			<div class="profile">
              <div style="width:100%;padding: 5px 10px;color: #ECF0F1;font-size:14px;">
                <span class="label label-success"><span th:text="#{app.text.godung}"></span></span>
                <span style="vertical-align: middle;" th:text="${session.user.godung.godungName}"></span>
              </div>
            </div>
			<div class="clearfix"></div>
			<br />
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<ul class="nav side-menu">
						<li th:each="menu : ${session.user.role.menuList}"><a th:href="@{${menu.action}}"> <i class="fa" th:class="${menu.icon}"></i> <span
								th:text="#{${menu.code}}"></span> <span class="fa fa-chevron-down" th:if="${!menu.menuList.empty}"></span>
						</a>
							<ul class="nav child_menu">
								<li th:each="menuChild : ${menu.menuList}">
									<a th:href="@{${menuChild.action}}">
										<i class="fa" th:class="${menuChild.icon}" style="width: auto!important;"></i>
										<span th:text="#{${menuChild.code}}"></span>
									</a>
								</li>
							</ul></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
